checkyourstaff.ru {
	log {
		format console
	}

	root * /var/checkyourstaff/landing
	file_server
}

console.checkyourstaff.ru {
  log {
		format console
	}

	root * /var/checkyourstaff/console/dist
	try_files {path} /index.html
	file_server
}

api.console.checkyourstaff.ru {
  log {
		format console
	}

  reverse_proxy http://localhost:3001
}

webapp.checkyourstaff.ru {
  log {
		format console
	}

  root * /var/checkyourstaff/webapp/dist
	try_files {path} /index.html
	file_server
}

api.webapp.checkyourstaff.ru {
  log {
		format console
	}

  reverse_proxy http://localhost:3003
}

api.pincodes.checkyourstaff.ru {
  log {
		format console
	}

  reverse_proxy http://localhost:3002
}

pgadmin.checkyourstaff.ru {
  log {
		format console
	}

  reverse_proxy http://localhost:8080
}
