checkyourstaff.ru {
	log {
		format console
		output file /var/log/caddy/checkyourstaff.ru-access.log
	}

	root * /var/checkyourstaff/landing
	file_server
}

console.checkyourstaff.ru {
  log {
		format console
		output file /var/log/caddy/console.checkyourstaff.ru-access.log
	}

	root * /var/checkyourstaff/console/dist
	try_files {path} /index.html
	file_server
}

api.console.checkyourstaff.ru {
  log {
		format console
		output file /var/log/caddy/api.console.checkyourstaff.ru-access.log
	}

  reverse_proxy http://localhost:3001
}

webapp.checkyourstaff.ru {
  log {
		format console
		output file /var/log/caddy/webapp.checkyourstaff.ru-access.log
	}

  root * /var/checkyourstaff/webapp/dist
	try_files {path} /index.html
	file_server
}

api.webapp.checkyourstaff.ru {
  log {
		format console
		output file /var/log/caddy/api.webapp.checkyourstaff.ru-access.log
	}

  reverse_proxy http://localhost:3003
}

api.pincodes.checkyourstaff.ru {
  log {
		format console
		output file /var/log/caddy/api.pincodes.checkyourstaff.ru-access.log
	}

  reverse_proxy http://localhost:3002
}

pgadmin.checkyourstaff.ru {
  log {
		format console
		output file /var/log/caddy/pgadmin.checkyourstaff.ru-access.log
	}

  reverse_proxy http://localhost:8080
}

openobserve.checkyourstaff.ru {
	log {
		format console
		output file /var/log/caddy/openobserve.checkyourstaff.ru-access.log
	}

  reverse_proxy http://localhost:5080
}

bull-monitor.checkyourstaff.ru {
	log {
		format console
		output file /var/log/caddy/bull-monitor.checkyourstaff.ru-access.log
	}

  reverse_proxy http://localhost:3007
}
