BOT_TOKEN={{control_bot_token}}
WEBAPP_URL=https://{{webapp_origin}}
CONSOLE_URL=https://{{console_origin}}
PG_USER={{checkyourstaff_db_user}}
PG_PASSWORD={{checkyourstaff_db_user_password}}
OO_USERNAME={{openobserve_default_username}}
OO_PASSWORD={{openobserve_default_password}}
KEYMASK_SEED={{keymask_seed}}
