{
  "apps": [
    {
      "name": "console-backend",
      "namespace": "production",
      "cwd": "{{project_dir}}/console-backend",
      "script": "npm",
      "args": "start"
    },
    {
      "name": "control-bot",
      "namespace": "production",
      "cwd": "{{project_dir}}/control-bot",
      "script": "npm",
      "args": "start"
    },
    {
      "name": "pincodes-service",
      "namespace": "production",
      "cwd": "{{project_dir}}/pincodes-service",
      "script": "npm",
      "args": "start"
    },
    {
      "name": "polling-bot",
      "namespace": "production",
      "cwd": "{{project_dir}}/polling-bot",
      "script": "npm",
      "args": "start"
    },
    {
      "name": "webapp-backend",
      "namespace": "production",
      "cwd": "{{project_dir}}/webapp-backend",
      "script": "npm",
      "args": "start"
    },
    {
      "name": "workers",
      "namespace": "production",
      "cwd": "{{project_dir}}/workers",
      "script": "npm",
      "args": "start"
    }
  ]
}