SMTP_PASS={{smtp_pass}}
IQSMS_LOGIN={{iqsms_login}}
IQSMS_PASSWORD={{iqsms_password}}
PINCODES_URL=https://api.{{pincodes_origin}}
POLLING_BOT_TOKEN={{polling_bot_token}}
WEBAPP_URL=https://{{webapp_origin}}
PG_USER={{checkyourstaff_db_user}}
PG_PASSWORD={{checkyourstaff_db_user_password}}
OO_USERNAME={{openobserve_default_username}}
OO_PASSWORD={{openobserve_default_password}}
